<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <b class="navbar-brand">User ID: {{userId}}</b>
    </div>
    <div  class="navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            </li>
            <li><a routerLink="../order-status" class="nav-link"> Order Status</a></li>
                    <li><a routerLink="../edit-profile" class="nav-link"> Edit Profile</a></li>
                    <li><a routerLink="../" class="nav-link">User funds</a></li>
                    <li><a routerLink="../" class="nav-link"> View Item</a></li>
            <li class="nav-item">
                <a routerLink="" class="nav-link" (click) = "logout()">Log Out</a>
            </li>
        </ul>
    </div>
</nav> 
<br>

<div class="card" style="width: 18rem; padding: 10px; margin-left:550px; height: 400px; width: 400px;" >
    <img class="card-img-top" src="https://www.credentialingexcellence.org/portals/0/images/education/mbcykvfc.png" alt="Card image cap">
    <div class="card-body">
        <br><br>
      <h5 class="card-title">Purchase Completed</h5>
      <p class="card-text">All your Purchase Items are Listed in Order status thank you !</p>
      <button class="btn btn-primary" (click)="complete()" style="margin-left: 40%;">Done</button>
    </div>
  </div>
