<body>
    <h1>Welcome to Grocery Takeaway User Sign-in</h1>
    <div class="wrapper">
        <div id="formContent">
            <h3>Login in</h3>
            <div class="alert alert-warning" style="width: fit-content; margin-left: 28%; height: fit-content;" *ngIf="resultMsg">
                {{resultMsg}}
            </div>
            <form #loginRef="ngForm" (ngSubmit)="checkUser(loginRef.value)" ngNativeValidate >
                <input type="number" name="id" placeholder="User Id" required ngModel>
                <input type="password" name="pass" placeholder="password" required ngModel>
                <input class="btn-grad" [disabled] = "(numberlogin >=3)" type="submit" value="Sign In">
            </form>
            <a routerLink="" class="nav-link">Back</a>
            <button (click) = "goTo()" >Sign Up</button>
            <button *ngIf="showButton" #button routerLink='../user-index/raise-ticket'>Raise Ticket</button>
            
        </div> 
    </div>
</body>
