<h1>Welcome to Grocery Takeaway Employee Sign-in</h1>
<div class="wrapper fadeInDown">
    <div *ngIf = "!showChangePass" id="formContent">
        <h3>Employee Sign In</h3>
        <div class="alert alert-warning" style="width: fit-content; margin-left: 20%; height: fit-content;" *ngIf="msg">
            {{msg}}
        </div>
        <form #empRef = "ngForm" (ngSubmit) = "employeeLogin(empRef.value)">
            <input type="number" name="empID" placeholder="Employee Id" ngModel>
            <input type="password" name="empPass" placeholder="password" ngModel>
            <input  class="btn-grad" type="submit" value="Sign In">
        </form>
        <a routerLink=".." class="nav-link">Back</a><br>
    </div>
    <div *ngIf = "showChangePass" id = "changePassForm" ngNativeValidate>
        Change Password From Default
        <form #empPRef = "ngForm" (ngSubmit) = "changeEmployeePassword(empPRef.value)">
        <input type = "number" name = "id" placeholder = "Re-Enter ID" required ngModel>
        <input type = "password" name = "newPass" placeholder = "New Password" required ngModel>
        <input class="btn-grad" type = "submit" value = "Change Password">
        </form>
    </div>
</div>
 