<div class="wrapper">
    <h1>Welcome to Grocery Takeaway System</h1>
    <div id="formContent">
        <h3 class="alert alert-success">Please select who you are</h3>
        <form style="margin-left: 20%;">
          <button routerLink='shopper' class="btn-grad" type="button" name="user">User</button>
          <button routerLink='employee' class="btn-grad" type="button" name="employee">Employee</button>
          <button routerLink='admin' class="btn-grad" type="button" name="admin">Admin</button>
        </form>
    </div>
</div>
  